
<div style="width: 100%; text-align: center;">
    <span id="up-down" style="margin: auto; color: #ffffff;" (click)="toggleArrow()"> 
        <i class="fa {{isUp ? 'fa-arrow-up' : 'fa-arrow-down'}}"></i>
      <!-- <fa [name]="isUp ? 'arrow-up' : 'arrow-down'" size="lg"></fa> -->
    </span>
</div>
<app-nav [isUp]="isUp"></app-nav>

<canvas id="c" ></canvas>
<span class="mini">
    <canvas id="mini" style="position: absolute;"></canvas>
</span>


<ng-template #loadingModal>
    <h1 class="text-center">Loading...</h1>
</ng-template>

<div style="margin: 0;">
  <!-- <div class="col-lg-10">
  </div> -->
  <!-- <div class="col-lg-2"> 
      <div class="box mb-2 mt-1" id="box-1">
          <span><h5 id="player-1"></h5> </span>
      </div>
      <div class="box" id="box-2">
          <span>
              <h5 id="player-2"></h5>
          </span>
      </div>
  </div> -->
</div>
<!-- <div class="row">
    <div class="col-3">
        <ol>
            <h5>One</h5>
            <li *ngFor="let p of ground.gamePin.onePins">
                <span *ngFor="let x of p.pinIds" [style.color]="(ground.getPlayer(p.playerId)).color">
                    ({{ground.gamePin.getPinById(x, true) | json}});
                </span>
            </li>
        </ol>
    </div>
    <div class="col-3">
        <ol>
            <h5>Two</h5>
            <li *ngFor="let p of ground.gamePin.twoPins">
                <span *ngFor="let x of p.pinIds" [style.color]="(ground.getPlayer(p.playerId)).color">
                    ({{ground.gamePin.getPinById(x, true) | json}});
                </span>
            </li>
        </ol>
    </div>
    <div class="col-3">
        <ol>
            <h5>Three</h5>
            <li *ngFor="let p of ground.gamePin.threePins">
                <span *ngFor="let x of p.pinIds" [style.color]="(ground.getPlayer(p.playerId)).color">
                    ({{ground.gamePin.getPinById(x, true) | json}});
                </span>
            </li>
        </ol>
    </div>
    <div class="col-3">
        <ol>
            <h5>Four</h5>
            <li *ngFor="let p of ground.gamePin.fourPins">
                <span *ngFor="let x of p.pinIds" [style.color]="(ground.getPlayer(p.playerId)).color">
                    ({{ground.gamePin.getPinById(x, true) | json}});
                </span>
            </li>
        </ol>
    </div>
</div> -->
