################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/API/OnlyFive/obj
/SPA/.vs
/API/OnlyFive/bin/Debug/net5.0
/API/OnlyFive.Types/bin/Debug/net5.0
/API/.vs/OnlyFive
/API/OnlyFive.Business/bin/Debug/net5.0
/API/OnlyFive.Business/obj/Debug/net5.0
/API/OnlyFive.Business/obj
/API/OnlyFive.BusinessInterface/bin/Debug/net5.0
/API/OnlyFive.BusinessInterface/obj/Debug/net5.0
/API/OnlyFive.BusinessInterface/obj
/API/OnlyFive.Common/bin/Debug/net5.0/ref
/API/OnlyFive.Common/bin/Debug/net5.0
/API/OnlyFive.Common/obj/Debug/net5.0
/API/OnlyFive.Common/obj
/API/OnlyFive.DTO/obj
/API/OnlyFive.Repository/bin/Debug/net5.0
/API/OnlyFive.Repository/obj/Debug/net5.0
/API/OnlyFive.Repository/obj
/API/OnlyFive.RepositoryInterface/bin/Debug/net5.0
/API/OnlyFive.RepositoryInterface/obj/Debug/net5.0
/API/OnlyFive.RepositoryInterface/obj
/API/OnlyFive.Types/obj/Debug/net5.0
/API/OnlyFive.Types/obj
/API/OnlyFive.sln
**/bin/*