.box {
    width: 80%;
    height: 80vh;
    background: pink;
    border: 1px solid blue;
    // background: #1976d2;
    background:rgba($color: #1976d2, $alpha: 0.8) ;
    border: 1px solid blue;
    margin: auto;
    margin-top: 20px;
}

.title {
    margin: auto;
    color: white;
}

@media screen {
    
}